
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #e9e9f0;
    color: #333;
    min-height: 100vh;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.hero {
    text-align: center;
    padding: 100px 20px;
    background: url('https://images4.alphacoders.com/138/1382586.png') no-repeat center center/cover;
    color: black;
    min-height: 400px;
    min-height: 800px;
}

.hero h1 {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

/* Details Section */
details {
    margin: 10px;
    font-size: 18px;
}

details > * {
    padding: .75rem;
}

details > div {
    background: #ddd;
    border-radius: 0 0 5px 5px;
}

summary {
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #fff;
    background: #c7e0ef;
    cursor: pointer;
    padding: 10px;
}

details[open] summary {
    border-radius: 5px 5px 0 0;
}

summary::marker {
    content: "";
}

summary[open]::marker {
    content: "-";
}
.strip-section {
    background: 
    repeating-linear-gradient(45deg, #000, #000 25px, #ffffff 25px, #fff 50px);
height: 100px;
width: 100%;
}
.menu{
    text-align: center;
    padding: 100px 20px;
    background: url('') no-repeat center center/cover;
    color: black;
    min-height: 400px;
}
.gallery {
    text-align: center;
    padding: 80px 20px;
    background: white;
}
.experience {
    text-align: center;
    padding: 80px 20px;
    background: white;
    display: flex;
    height: 800px;
}

.half-image-left {
    flex: 1;
    background-color: #363636; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    color: white;
    font-size: 24px; 
    
}
.half-image-right {
    padding: 0;
    flex: 1;
}

.half-image-right img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.container {
    max-width: 820px;
    height: auto;
    display: flex;
    gap: 10px;
    margin: 50px auto;
    flex-wrap: wrap; 
    justify-content: center; 
}
.card {
    flex: 1;
    min-width: 100px;
    max-width: 200px; 
    height: 340px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    --transition-timing: 0.35s;
}

.card:hover {
    flex-grow: 3;
}

.card > .background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    filter: brightness(0.4);
    z-index: -1;
    transition: var(--transition-timing) ease;
}

.card:hover > .background {
    filter: brightness(1);
}


.card > .card-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    overflow: hidden;
    transition: var(--transition-timing);
    z-index: 10;
}

.card:hover > .card-content {
    inset: 20px;
    top: auto;
}

.card-content > * {
    transition: var(--transition-timing);
}


.card-content > .title {
    color: #ffffff;
    white-space: pre;
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
}

.card:hover .title {
    opacity: 1;
    translate: 0 0;
}


.card > .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 0;
    background: linear-gradient(to bottom, transparent, rgba(40, 166, 135, 0.7));
}
.confetti-section {
    max-width: 600px;
    display: flex;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.celebrate-btn {
    font-size: 1.5em;
    padding: 20px 30px;
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.celebrate-btn:hover {
    background-color: #6690a8;
    transform: scale(1.1);
}

